.user-modal-container {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2010;
    display: none;
    justify-content: right;
    align-items: end;
    background: rgba($color: black, $alpha: 0.5);
    h3 {
        text-align: center;
    }
}

.user-modal {
    background: rgba($color: #59AE16, $alpha: 1.0);
    width: 25%;
    min-width: 300px;
    height: 100vw;
    align-items: center;
    padding: 30px;
    position: absolute;
    img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        box-shadow: 0 4px 4px 0 rgba($color: black, $alpha: 0.5);
    }
    ul {
        text-align: center;
        list-style: none;
        position: relative;
    }
    .logout {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-top: 6px;
        cursor: pointer;
        margin-top: 10px;
    }
    strong {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@keyframes deslizar {
    from {
        opacity: 0;
        transform: translate3d(-60, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: deslizar .9s;
}

.user-modal-container.mostrar {
    display: flex;
}

#fechar-modal {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 44%;
    right: 50%;
    border-radius: 50%;
    background: #59AE16;
    color: white;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba($color: black, $alpha: 0.5);
}